NEXT_PUBLIC_URL="http://localhost:3000"
NEXT_PUBLIC_TENANT_URL="http://*.localhost:3000"

# Database
DATABASE_URL="postgresql://root@localhost/inputnest"
DIRECT_URL="postgresql://root@localhost/inputnest"

# @see https://next-auth.js.org/configuration/options
NEXTAUTH_SECRET=""

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Stripe
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=""

# Inngest
INNGEST_SIGNING_KEY=""
INNGEST_EVENT_KEY="local"

# Resend
RESEND_API_KEY=""

# Knock
KNOCK_API_KEY=""
NEXT_PUBLIC_KNOCK_PUBLIC_API_KEY=""
NEXT_PUBLIC_KNOCK_FEED_CHANNEL_ID=""

# Logsnag
LOGSNAG_TOKEN=""

# Cloudinary
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=""

# Crisp
NEXT_PUBLIC_CRISP_WEBSITE_ID=""

# Vercel
VERCEL_PROJECT_ID=""
VERCEL_TEAM_ID=""
VERCEL_API_TOKEN=""
